<div class="card">
  <div class="card-head">
    <img class="card-img-top" src="{{fruta.imagen}}" alt="Card image cap">
    <span *ngIf="fruta.oferta" class="descuento">{{fruta.descuento}} %</span>
    <span class="calorias">{{fruta.calorias}} Kcal</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{fruta.nombre}}</h5>
    <p *ngIf="!fruta.oferta" class="card-text">{{fruta.precio}} €</p>
    <p *ngIf="fruta.oferta" class="card-text"><del>{{fruta.precio}}</del> {{(fruta.precio - (fruta.precio*fruta.descuento)/100) | number:'1.2-2'}} €</p>
    <button (click)="comprar()" class="btn btn-block btn-outline-primary">Comprar</button>
  </div>

  <!-- comparador -->
  <div *ngIf="fruta2">
    <p>Precio <span class="{{(fruta.precio - fruta2.precio > 0) ? 'positivo' : 'negativo'}}">{{fruta.precio - fruta2.precio}}</span> €</p>
    <p>Calorias <span class="{{(fruta.precio - fruta2.precio > 0) ? 'negativo' : 'positivo'}}">{{fruta.calorias - fruta2.calorias}}</span> Kcal</p>
  </div>
</div>


