<h2>Pagina Principal</h2>

<nav>
  <ul>
    <li><a [routerLink]="['../fruta']">Ir otro Componente </a></li>
    <li><a [routerLink]="['../detalle', 3 ]">Ir otro Componente y pasar parametro :id=3</a></li>
  </ul>
</nav>


<p>*navegagar mediante evento</p>
<button (click)="navegar()" >Navegar mediante programación, parametro :id=5</button>

<hr>

<h2>Directiva Destacar</h2>
<p destacar="pink">lorem ipsum 1</p>
<p>lorem ipsum 2 lorem <span destacar="yellow">PALABRA DESTACADA</span> ipsummsss  sassdsdsd</p>
<p destacar="teal">lorem ipsum 3</p>

