
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a [routerLink]="['home']">Angular</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">    
      
      
      <a class="p-2 text-success" *ngIf="!logeado" routerLinkActive="activo" [routerLink]="['login']">Login</a>
      <a class="p-2 text-default" *ngIf="logeado" routerLinkActive="activo" [routerLink]="['privado']">Zona Privada</a>
      <a class="p-2 text-danger"   *ngIf="logeado" (click)="cerrar()">Cerrar Sessión</a>

      
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['formulario']">Formulario</a>
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['videojuego-detalle']">Videojuego Detalle</a>
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['fruta']">Componente Simple</a>
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['flujo']">Flujo Información</a>      
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['arrays']">Jugando con Arrays</a>      
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['pipe']">Pipes</a>      
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['comparador']">Comparador</a>
      <a class="p-2 text-dark" routerLinkActive="activo" [routerLink]="['tareas']">Tareas</a>
    </nav>
    
</div>

<main class="container">
  
  <!-- Donde se carga cada Componente en funcion de la Ruta -->
  <router-outlet></router-outlet>

</main>
